/* Filename Button */
.qr-filename-container {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  padding: 1px;
}
.qr-filename-container > label, .qr-filename-container > a {
  -webkit-flex: none;
  flex: none;
  margin: 0;
  margin-right: 0px;
  margin-right: 3px;
}
.qr-filename, .has-file .qr-no-file {
  display: none;
}
input.qr-filename {
  border: none !important;
  background: none !important;
  outline: none;
}
.qr-no-file, .has-file .qr-filename {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 0px;
  display: inline-block;
  padding: 0;
  padding-left: 0px;
  padding-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.file-n-submit, .qr .oekaki {

  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  height: 25px;
  margin-top: 1px;

}
.qr input[type="file"] {

  visibility: hidden;
  position: absolute;

}

.qr label input[type="checkbox"] {
  position: relative;
  top: 2px;
}
.qr select {
  background:
    white;
  border: 1px solid
  #CCC;
}
.dump-list-container {
  display: none;
  position: relative;
  overflow-y: hidden;
  margin-top: 1px;
}

.qr-filename, .has-file #qr-no-file {
  display: none;
}

.qr:not(.has-spoiler) #qr-spoiler-label,
.file-n-submit:not(.has-file) #qr-spoiler-label,
.has-file #paste-area,
.has-file #url-button,
.file-n-submit:not(.custom-cooldown) #custom-cooldown-button {
  display: none;
}
.qr-filename-container label:not(:hover) > input[type="checkbox"]:not(:focus):not(:checked),
.qr-filename-container label:not(:hover) > input[type="checkbox"]:not(:focus):not(:checked) ~ :not(.checkbox-letter),
.qr-filename-container label:hover > .checkbox-letter,
input[type="checkbox"]:focus ~ .checkbox-letter,
input[type="checkbox"]:checked ~ .checkbox-letter {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
[hidden] {
  display: none !important;
}

.checkbox-letter, #paste-area, #url-button, #custom-cooldown-button, #dump-button {
  opacity: 0.6;
}
.dump-list {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  width: 248px;
  max-height: 248px;
  min-height: 90px;
  max-width: 100%;
  min-width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.qr-oekaki-button {
  width: 13px;
  /*height: 100%;*/
  max-height: 60%;
}
.qr-filename-container a.icon-holder-b {
  width: 13px;
  /*height: 100%;*/
  max-height: 60%;
}
.qr select, #qr-filename-container > a, .remove, .captcha-img {
  cursor: pointer;
}
a:hover {
  color: #d00 !important;
}
