<div class="dump-list-container">
  <div class="dump-list">
    <a
      class="qr-preview has-file selected"
      data-height="1158"
      data-type="image/jpeg"
      data-width="800"
      draggable="true"
      href="javascript:"
      title="one-piece-63739.jpg (187 KB)"
    >
      <a class="remove fa fa-times-circle" style="" title="Remove"></a>
      <label class="qr-preview-spoiler">
        <input type="checkbox"/>
        Spoiler
      </label>
      <span>&gt;&gt;70042270 </span>
    </a>
  </div>
  <a class="add-post" href="javascript:" title="Add a post">+</a>
</div>
<div class="oekaki has-file" hidden="">
  <input class="qr-draw-button" type="button" value="Draw"/>
  <label>
    <span>Width:</span>
    <input
      class="field"
      name="oekaki-width"
      size="1"
      type="number"
      value="400"
    />
  </label>
  <label>
    <span>Height:</span>
    <input
      class="field"
      name="oekaki-height"
      size="1"
      type="number"
      value="400"
    />
  </label>
  <span class="oekaki-bg" title="Background Color">
        <input checked="" name="oekaki-bg" type="checkbox"/>
        <input name="oekaki-bgcolor" type="color" value="#ffffff"/>
      </span>
</div>


<div [class.has-file]="hasFile" class="file-n-submit">
  <!--  <input class="qr-file-button" type="button" value="Files"/>-->
  <span class="field qr-filename-container">
        <span class="qr-no-file">No selected file</span>
        <input
          [ngModel]="fileItem?.file?.name"
          class="qr-filename"
          data-name="filename"
          readonly
          spellcheck="false"
          [title]="fileItem?.file?.name"
        />
    <!--    Spoilerize image (todo) -->
        <label class="qr-spoiler-label">
            <input
              class="qr-file-spoiler"
              title="Spoiler image"
              type="checkbox"
            /><a class="checkbox-letter">S</a>
        </label>
    <!--    Edit oekaki-->
        <a class="icon-holder-b qr-oekaki-button" title="Edit in Tegaki">
<!--        <i class="fa fa-edit"></i>-->
          <fa-icon icon="edit">::before</fa-icon>
        </a>
    <!--     Remove file?-->
        <a class="qr-filerm icon-holder-b "
           *ngIf="!isLast"
           title="Remove file"
           (click)="fileItem.remove()">
          <fa-icon icon="times-circle">::before</fa-icon>
        </a>
    <!--    Post from url:-->
        <a class="icon-holder-b url-button" title="Post from URL">
          <fa-icon icon="link">::before</fa-icon>
        </a>
<!--    clipboard paste-->
        <a
          class="fa fa-clipboard paste-area"
          contenteditable="true"
          hidden=""
          tabindex="-1"
          title="Select to paste images"
        >
        </a>
<!--    disabled custom cooldown button-->
        <a class="disabled custom-cooldown-button"
           title="Toggle custom cooldown"
        >
        <i class="fa fa-clock-o"></i>
        </a>
    <!--        Dump List (eliminate?)-->
        <a class="icon-holder-b dump-button" title="Dump list">
          <fa-icon icon="plus-square">::before</fa-icon>
        </a>
        </span>
  <!--        <input type="submit" value="Submit"/>-->
  <button *ngIf="isLast" (click)="submitF.emit(true)" [disabled]="!validRecaptcha">Submit
  </button>
</div>


<!--Unknown-->
<!--<select data-default="4" name="filetag">-->
<!--  <option value="0">Hentai</option>-->
<!--  <option value="6">Porn</option>-->
<!--  <option value="1">Japanese</option>-->
<!--  <option value="2">Anime</option>-->
<!--  <option value="3">Game</option>-->
<!--  <option value="5">Loop</option>-->
<!--  <option selected="" value="4">Other</option>-->
<!--</select>-->
<!--<input multiple="" type="file"/>-->

