<div>
  <input
    #fileInput
    (onFileSelected)="moreFilesSelected.emit($event)"
    [uploader]="uploader"
    ng2FileSelect
    type="file"
  />

  <div
    (click)="fileClicked()"
    (fileOver)="fileOverAnother.emit($event)"
    [ngClass]="{ dragover: isDropOver }"
    [uploader]="uploader"
    class="drop-box"
    ng2FileDrop
  >
    <span class="drag-in-title">Import or drag file here</span>
    <span class="drag-over-title">Drop the file</span>
  </div>
</div>
<!--<button (click)="uploadFiles()">Upload Files</button>-->
